/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2014, 12:29:12 PM
    Author     : User1
*/

.bordered-red { 
    border:1px dotted red;
}

.right { float:right;}

.blockSummary { display:block; padding:0.25em; font-size:10px; height:1.75em;}


.btn { 
    border:0px dotted grey; 
    padding:0px; 
    margin:0px; 
    cursor:pointer; 
}

.completed { color:green; }


.review-item { height:20px; font-size:12px; padding:0em; border:1px dotted grey; }

.pid { width:10%; max-width:50px; float:left; }

.crd { width:20%; max-width:60px; float:right; margin-left:2px; }

.crb { width:20%; max-width:60px; float:right; margin-left:2px; }

.std { width:60%; min-width:100px; float:left; margin-left:2px; }

.nte { width:10%; max-width:35px; float:left; margin-left:2px; } 

table.reviewFormTable { font-size:12px; width:100%; border:1px dotted grey; margin-bottom:3px;}
table.reviewFormTable td { text-align:right; padding:0px;}
table.reviewFormTable td button { width:100% }

table.reviewFormTable td div.reviewInput { text-align:left;}

.reviewPalette { height:50px; }


img { border:0px; margin:0px; border:0px dotted grey;}

dl.form_element {
    margin:0px;
    clear: both;
    padding:1em;
}

dl.form_element dt {
    float:left;
    width:100px;
    margin:0px;
}
dl.form_element dd {
    float:left;
    position:relative;
    top:-0.25em;
    margin-left:0em;
}

#branded_as {
    font-size:120%;
}


#btn_logout {
    padding:0.25em 0.5em;
    float:right;
}


.padding_container {
    padding:1em;
    
}